{% load static %} {% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{% static 'styles/pageEdit.css' %}" />
    {% bootstrap_css %} {% bootstrap_javascript %}
    <head>
        <meta charset="UTF-8" />
        <title>Edit Page - ABSCS</title>
        <link rel="icon" href="{% static 'images/satellitedish1.png' %}" />
    </head>
    <style>
        .table-container {
            width: 90%; /* Limits table width */
            max-width: 800px; /* Prevents it from becoming too wide */
            margin: auto; /* Centers the table */
            overflow-x: auto; /* Enables scrolling if needed */
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        .table-container img {
            max-width: 1em;
            max-height: 1em; /* Limits image height */
            object-fit: contain; /* Ensures full image is visible */
        }

    </style>
    <body>
        {% include 'header.html' %}
        
            <main>

                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addModal">
                    Add a new command
                </button>
                
                <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add a new command: </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form onsubmit="add_command(event)">
                                    <div style="display: flex; flex-direction: column;">
                                        <div>
                                            <label for="name">Name:</label>
                                            <input type="text" id="name" name="name">
                                        </div>
                                        <div>
                                            <label for="encoding">Encoding:</label>
                                            <select name="encoding" id="encoding">
                                                <option value="ASCII">ASCII</option>
                                                <option value="Binary">Binary</option>
                                            </select>
                                            
                                        </div>
                                        <div>
                                            <label for="command_content">Command Content:</label>
                                            <input type="text" id="command_content" name="command_content">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Encoding Type</th>
                                <th>Command Content</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                        {% for mnemonic in mnemonics %}
                            <tr data-id="mnemonic{{ mnemonic.id }}" data-mnemonic="{{ mnemonic }}" id="mnemonic{{ mnemonic.id }}">
                                <td class="mnemonic_name_field">
                                    {{ mnemonic.name }}
                                </td>
                                <td class="mnemonic_type_field">
                                    null
                                </td>
                                <td class="mnemonic_unit_field">
                                    {{ mnemonic.unit }}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editModal{{ mnemonic.id }}">
                                        <img src="{% static 'images/edit_icon.png' %}" href="{% url 'dashboard' %}" alt="" />
                                    </button>
                                    <div class="modal fade" id="editModal{{ mnemonic.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Edit {{ mnemonic.name }}:</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <form onsubmit="update_mnemonic(event, '{{ mnemonic.id }}'); return false;">
                                                <div style="display: flex; flex-direction: column;">
                                                    <div>
                                                        <label for="name">Name</label>
                                                        <input type="text" name="name" value="{{ mnemonic.name }}">
                                                    </div>
                                                    <div>
                                                        <label for="type">Type:</label>
                                                        <input type="text" name="type" value="null">
                                                    </div>
                                                    <div>
                                                        <label for="unit">Unit:</label>
                                                        <input type="text" name="unit" value="{{ mnemonic.unit }}">
                                                    </div>
                                                </div>
                                              
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Change</button>
                                                    </div>
                                                </form>
                                          </div>
                                        </div>
                                      </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ mnemonic.id }}">
                                        <img src="{% static 'images/trash_icon.png' %}" href="{% url 'dashboard' %}" alt="" />
                                    </button>
                                    <div class="modal fade" id="exampleModal{{ mnemonic.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Delete {{ mnemonic.name }}?</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              Are you sure you want to delete {{ mnemonic.name }}?
                                            </div>
                                            <div class="modal-footer">
                                            <form onsubmit="delete_mnemonic(event, '{{ mnemonic.id }}')">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                              <button type="submit" class="btn btn-primary">Yes</button>
                                            </form>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        
        <footer></footer>
    </body>

    <script>

        function add_command(event){
            
            let command_name = event.target.elements["name"].value;
            let command_encoding = event.target.elements["encoding"].value;
            let command_content = event.target.elements["command_content"].value;

            if (command_encoding === "Binary" && (command_content.length % 8 !== 0 || command_content.length === 0)) {
                alert("Binary string length must be a non-zero multiple of 8.");
                return false;  // Prevent form submission
            }

            

            /*
            let nameInput = table.querySelector(".mnemonic_name_field");
            let typeInput = table.querySelector(".mnemonic_type_field");
            let unitInput = table.querySelector(".mnemonic_unit_field");
            */
            let addUrl = "{% url 'add_command' %}"
            
            fetch(addUrl,{
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    
                },
                body: JSON.stringify({ name: command_name, encoding_type: command_encoding, command_content: command_content })
            })
            .then(response => response.json())
            .then(data => {
                console.log("Server response:", data);
                table.innerHTML = "";
            })
            .catch(error => console.error('Error', error));
        }

        function delete_mnemonic(event, id){
            let table = document.getElementById("mnemonic"+String(id));

            let editUrl = "{% url 'edit_mnemonic' id=0 %}".replace("0", id);

            fetch(editUrl,{
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json",
                    
                },
                body: JSON.stringify({})
            })
            .then(response => response.json())
            .then(data => {
                console.log("Server response:", data);
                table.innerHTML = "";
            })
            .catch(error => console.error('Error', error));
        }

        function update_mnemonic(event, id){

            let mnemonic_name = event.target.name.value;
            let mnemonic_type = event.target.type.value;
            let mnemonic_unit = event.target.unit.value;
            
            let table = document.getElementById("mnemonic"+String(id));
            let nameInput = table.querySelector(".mnemonic_name_field");
            let typeInput = table.querySelector(".mnemonic_type_field");
            let unitInput = table.querySelector(".mnemonic_unit_field");
            
            let editUrl = "{% url 'edit_mnemonic' id=0 %}".replace("0", id);
            console.log(editUrl);
            
            fetch(editUrl,{
                method: "PUT",
                headers: {
                    "Content-Type": "application/json",
                    
                },
                body: JSON.stringify({ name: mnemonic_name, type: mnemonic_type, unit: mnemonic_unit })
            })
            .then(response => response.json())
            .then(data => {
                console.log("Server response:", data);
                console.log(data['name']);
                nameInput.innerHTML = data["name"];
                typeInput.innerHTML = data["type"];
                unitInput.innerHTML = data["unit"];
            })
            .catch(error => console.error('Error', error));
        
            
        }
        
    </script>
</html>
