{% load static %} {% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
    {% bootstrap_css %} {% bootstrap_javascript %}
    <head>
        <meta charset="UTF-8" />
        <title>Wiki App</title>
    </head>
    {% include 'header.html' %}
    <body>
        <h1 class="pageTitle">{{ page.title }}</h1>
        <main>
            <div class="mnemonicsAlertContainer">
                <div class="mnemonicsContainer">
                    Mnemonics
                    <div class="mnemonicsScreen">
                        {% for item in mnemonics %} {% if item is not None %}
                        <div class="mnemonic">
                            <div class="name">
                                <p>{{ item.name }}</p>
                            </div>
                            <div id="{{ item.name }}_val" class="value">
                                <p>{{ item.value }}</p>
                            </div>
                            <div class="unit">
                                <p>{{ item.unit }}</p>
                            </div>
                        </div>
                        {% else %}
                        <div class="mnemonic">
                            <div class="name">
                                <p>null</p>
                            </div>
                            <div class="value">
                                <p>null</p>
                            </div>
                            <div class="unit">
                                <p>null</p>
                            </div>
                        </div>
                        {% endif %} {% endfor %}
                    </div>
                </div>
                <div class="commandScreen">
                    Command
                    <div>
                        <button>Simple command</button>
                    </div>
                </div>
            </div>
            <div class="alertsContainer">
                Alerts
                <div>
                    <button>Simple command</button>
                </div>
            </div>
        </main>
        <footer></footer>
    </body>
</html>

<script>
    const socket = new WebSocket("ws://localhost:8000/ws/telemetry/");

    socket.onmessage = function (event) {
        console.log("Received:", event.data); // Display telemetry data
        tm_packet = JSON.parse(JSON.parse(event.data));
        tm_packet.telemetry.forEach((element) => {
            console.log(
                "Updating " + element.mnemonic + " with value: " + element.data
            );
            try {
                valDiv = document.getElementById(element.mnemonic + "_val");
                valDiv.innerText = element.data;
            } catch (error) {
                console.log("No div found for " + element.mnemonic);
            }
        });
    };

    socket.onopen = function () {
        console.log("WebSocket connected!");
    };

    socket.onclose = function () {
        console.log("WebSocket disconnected!");
    };
</script>
