{% load static %} {% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
    {% bootstrap_css %} {% bootstrap_javascript %}
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title }} - ABSCS</title>
        <link rel="icon" href="{% static 'images/satellitedish1.png' %}" />
    </head>
    <body>
        <header>
            <!-- Sidebar Button -->
            <button
                class="btn btn-link"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample"
            >
                <img src="{% static 'images/Sidebar.png' %}" alt="" />
            </button>

            <div
                class="offcanvas offcanvas-start"
                tabindex="-1"
                id="offcanvasExample"
                aria-labelledby="offcanvasExampleLabel"
            >
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                        Pages
                    </h5>
                    <div>
                        <form method="POST" action="{% url 'add' %}">
                            {% csrf_token %}
                            <input
                                type="text"
                                name="title"
                                maxlength="15"
                                placeholder="New Page"
                                required
                            />
                            <button type="submit">Create New Page</button>
                        </form>
                    </div>
                    <button
                        type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="offcanvas-body">
                    {% for item in listPages %}
                    <a href="{{ item.url }}">{{ item.title }}</a>
                    {% endfor %}
                </div>
            </div>

            <!-- ABSCS Text -->
            <a class="pageTitle" href="{% url 'dashboard' %}">ABSCS</a>

            <!-- Logo -->
            <img
                class="logo"
                src="{% static 'images/satellitedish1.png' %}"
                alt="Logo"
            />

            <!-- Settings Button -->
            <button
                class="btn btn-link"
                type="button"
                id="settingLogo"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight"
                Toggle
                right
                offcanvas
            >
                <img src="{% static 'images/Settings.png' %}" />
            </button>

            <div
                class="offcanvas offcanvas-end"
                tabindex="-1"
                id="offcanvasRight"
                aria-labelledby="offcanvasRightLabel"
            >
                <div class="offcanvas-header">
                    <h5 id="offcanvasRightLabel">Settings</h5>
                    <button
                        type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="offcanvas-body">
                    <a href="">Configure Pages</a>
                    <hr
                        style="height: 1px"
                        width="100%"
                        height="1px"
                        size="2"
                    />
                    <a href="">Configure TM & TC Database</a>
                    <hr
                        style="height: 1px"
                        width="100%"
                        height="1px"
                        size="2"
                    />
                    <a href="">Configure Connection Profiles</a>
                </div>
            </div>
            <hr style="height: 1px" width="100%" height="1px" size="2" />
        </header>
        <h1 class="pageTitle">{{ page.title }}</h1>
        <main>
            <div class="mnemonicsAlertContainer">
                <div class="mnemonicsContainer">
                    Mnemonics
                    <div class="mnemonicsScreen">
                        {% for item in mnemonics %}
                        <div class="mnemonic">
                            <div class="name">
                                <p>{{ item.name }}</p>
                            </div>
                            <div class="value">
                                <p>{{ item.value }}</p>
                            </div>
                            <div class="unit">
                                <p>{{ item.unit }}</p>
                            </div>
                        </div>
                        {% endfor %} {% for item in leftToRender %}
                        <div class="mnemonic">
                            <div class="name">
                                <p>null</p>
                            </div>
                            <div class="value">
                                <p>null</p>
                            </div>
                            <div class="unit">
                                <p>null</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="commandScreen">
                    Command
                    <div>
                        <button>Simple command</button>
                    </div>
                </div>
            </div>
            <div class="alertsContainer">
                Alerts
                <div>
                    <button>Simple command</button>
                </div>
            </div>
        </main>
        <footer></footer>
    </body>
</html>
